<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>not_found</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <style>
        body {
            margin: 8% auto 0;
            max-width: 550px;
            min-height: 200px;
            padding: 10px;
            font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 14px;
        }

        p {
            color: #555;
            margin: 10px 10px;
        }

        img {
            border: 0px;
        }

        .d {
            color: #404040;
        }
    </style>
</head>
<body>
<a href=''><img src='/statics/404.jfif' alt='bbs'/></a>
<p class='d'>请确认您输入的网址是否正确，如果问题持续存在，请发邮件至 2805347171&#64;qq.com 与我们联系。</p>
<p><a href='/bbs/'>返回网站首页</a></p>
</body>

</html>