{% extends "base.html" %}
{% load custom %}
{#实现动态菜单#}
{% block tag-menu %}
    {% for category in category_list %}
        {% if category.id == category_obj.id %}
            <li class="active"><a
                    href="/bbs/category/{{ category.id }}/">{{ category.name }}</a></li>
        {% else %}
            <li class=""><a
                    href="/bbs/category/{{ category.id }}/">{{ category.name }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{#主页右上角显示用户名或者登录#}
{% block login_register %}
    {% if request.user.is_authenticated %}
        <li class=""><a href="#">{{ request.user.userprofile.name }}</a></li>
        <li class=""><a href="{% url "logout" %}">注销</a></li>
    {% else %}
        <li class=""><a href="{% url "login" %}">登录/注册</a></li>
    {% endif %}
    <li class=""><a href="{% url "new_article" %}">发帖</a></li>
{% endblock %}

{#主页显示文章列表#}
{% block page-container %}
    {#    左侧栏页面显示文章列表#}
    <div class="wrap-left">
        <div class="article-title-bg">
            {{ article_obj.title }}
        </div>
        <div class="article-title-brief">
            <span>作者：{{ article_obj.author.name }}</span>
            <span>时间：{{ article_obj.pub_date }}</span>
            <span>{% filter_comment article_obj as comments %}</span>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>

            {{ comments.comment_count }}
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            {{ comments.thumb_count }}
        </div>
        <div class="article-content">
            <img class="article-detail-head-img" src="/statics/{{ article_obj.head_img|truncate_url }}">
            {{ article_obj.content|safe }}
        </div>
        <div class="comment-box">
            {% if request.user.is_authenticated %}
                <div class="new-comment-box">
                                <textarea class="form-control" rows="3">

                </textarea>
                    <button type="button" class="btn btn-success pull-right" style="margin-top: 10px">
                        评论
                    </button>
                </div>
            {% else %}
                <div class="jumbotron">
                    {#request.path用来记录当前页面的路径，登陆完还返回到当前页面#}
                    <h4 class="text-center"><a class="btn-link" href="{% url "login" %}?next={{ request.path }}">登录</a>后评论
                    </h4>
                </div>
            {% endif %}
            <div class="comment-list">

            </div>
        </div>
        {#        <button type="button" onclick="getComment()">测试评论</button>#}
    </div>

    {#    右侧栏页面#}
    <div class="wrap-right">
        right
    </div>
    <div class="clear-both">

    </div>
{% endblock %}

{% block bottom-js %}
    <script>
        // 获取关于这篇文章的评论列表
        function getComment() {
            $.get("{% url "get_comments" article_obj.id %}", function (callback) {
                {#console.log(callback);#}
                $(".comment-list").html(callback);
                //start add comment
                $(".add-comment").click(function (callback) {
                    var comment_id = $(this).attr("comment-id");
                    console.log("comment_id:" + comment_id);
                    // 把text和评论按钮追加到当前评论div下方
                    // true表示把元素绑定的事件也clone
                    var new_comment_box_div = $(".new-comment-box").clone(true);
                    $(".new-comment-box").remove(); // 删除之前的
                    $(this).parent().append(new_comment_box_div);

                });
                //end add comment
            })
        }

        function getCsrf() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }

        $(document).ready(function () {
            // 页面加载后就先把评论显示出来
            getComment();

            // 因为js执行是异步的getComment()没有执行完就执行下一行代码，此时还没有.add-comment，所以绑定失败了，应该把这个放到getComment()函数中执行
            //start add comment
            // $(".add-comment").click(function (callback) {
            //    var comment_id = $(this).attr("comment-id");
            //    console.log("comment_id:" + comment_id)
            //});
            //end add comment

            // 提交评论
            $(".comment-box button").click(function () {
                var comment_text = $(".comment-box textarea").val();
                if (comment_text.trim().length < 5) {
                    alert("评论不能少于5个字符")
                } else {
                    // 提交 post
                    var parent_comment_id = $(this).parent().prev().attr('comment-id');
                    $.post("{% url "post_comment" %}",
                        {
                            {#传向后端的参数，key加不加引号都可以#}
                            comment_type: 1,
                            article_id: "{{ article_obj.id }}",
                            parent_comment_id: parent_comment_id,
                            comment_content: comment_text.trim(),
                            csrfmiddlewaretoken: getCsrf(),

                        },  // end post args
                        function (callback) {
                            {#console.log(callback);#}
                            if (callback == "success") {
                                {#alert("评论成功")#}
                                // 刷新评论之前将评论框和评论按钮重新加到文章底部并且清空textarea框内容
                                var new_comment_box_div = $(".new-comment-box").clone(true);

                                $(".comment-list").before(new_comment_box_div);
                                $(".new-comment-box textarea").val("");


                                // 将评论追加到页面中评论列表相应位置，即重新发起一个ajax请求
                                getComment();
                            }
                        })
                }
            }); // end button click
        });
    </script>
{% endblock %}



