{% extends "bbs/index.html" %}

{% block page-container %}
{#    <h1>web chat room</h1>#}
    <div class="chat-container">
        <div class="left-contact-panel">
            contacts
        </div>
        <div class="right-chat-panel">
            <div class="chat-box-title">
                title
            </div>
            <div class="chat-box-window">
                window
            </div>
            <div class="chat-box-emoj">
                emoj
            </div>
            <div class="chat-box-msg-box">
                <textarea id="msg"></textarea>
                <button class="btn btn-success">发送消息</button>
            </div>
        </div>
    <div class="clear-both"></div>
    </div>
{% endblock %}dashboard


{% block bootom-js %}
{#    点击Web Chat的时候高亮，未实现成功，以后实现#}
<script>
    $(document).ready(function () {
        $(".navbar-nav a[href='{{ request.path }}']").parent().addClass("active");
        console.log("ggg")
    }); // end doc ready
</script>
{% endblock %}